body {
    margin: 0 auto;
    padding-right: 0;
    width: 100%;
}

p,
h5 {
    text-align: center;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#chicken {
    padding: 3rem;
}

a {
    color: white;
    font-style: italic;
}

.nav-item {
    font-size: 1.5rem;
}

h3 {
    color: #B57A6F;
    text-align: center;
    margin-bottom: 12px;
}

.hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    ;
    align-items: center;
}

img {
    max-width: 100%;

}

#fb {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-bottom: 15px;
}

#fbicon {
    padding-left: 1rem;
    padding-right: 1rem;
}

footer,
nav {
    background-color: #823E33;
}

#rights {
    color: white;
}

#active {
    color: white;
    text-decoration: underline;
    font-size: 1.8rem;
}

#active:hover {
    color: lightyellow;
}

.info {
    font-weight: bold;
    font-size: 1.2rem;
}

.menuitem {
    padding: 1rem;
}

.navbar-nav>li {
    padding: 20px;
}

.site-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
}

input[type=submit] {
    background-color: #823E33;
    color: white;
    width: 20%;
    border-radius: 5px;
    margin-left: 15px;
}

.container-contact {
    padding-left: 15px;
}
main {
    margin-left: 10px;
}

h1{
    font-size: 5rem;
}
.schedule {
    padding-top: 7%;
}